%h1(align="center") Statuses
%br
.row
  .col-md-2
  .col-md-4
    %center
      %h2 New status
      = simple_form_for(@status) do |s|
        .form-inputs
          = s.input :status_type, placeholder: "Enter status"
        .form-actions
          = s.button :submit, class: "btn btn-primary"
  .col-md-2
    %br
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th №
          %th Type
          %th
        %tbody
          - @statuses.each do |s|
            %tr
              %td= @n
              %td= s.status_type
              %td= link_to 'Destroy', s, :method => :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs"
            - @n += 1
  .col-md-4