%h1(align="center") Users
%br
.row
  .col-md-3
  .col-md-6
    %br
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th №
          %th Name
          %th Email
          %th Last visit
          %th IP
        %tbody
          - @users.each do |u|
            %tr
              %td= @n
              %td= u.user_name
              %td= u.email
              %td= u.last_sign_in_at.localtime.strftime("%H:%M %d-%b %Y")
              %td= u.last_sign_in_ip
            - @n += 1
  .col-md-3