%h1(align="center") Departments
%br
.row
  .col-md-2
  .col-md-4
    %center
      %h2 New department
      = simple_form_for(@department) do |d|
        .form-inputs
          = d.input :department_type, placeholder: "Enter department"
        .form-actions
          = d.button :submit, class: "btn btn-primary"
  .col-md-2
    %br
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th №
          %th Department
          %th
        %tbody
          - @departments.each do |d|
            %tr
              %td= @n
              %td= d.department_type
              %td= link_to 'Destroy', d, :method => :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs"
            - @n += 1
  .col-md-4