.container-fluid
  .row
    .col-md-2
    .col-md-8    
      %h1(align="center") Tickets History
      %table.table.table-condensed.table-hover.table
        %thead
          %tr.text-info.danger
            %th Name
            %th E-mail
            %th Department
            %th Subject
            %th Reference
            %th Status
            %th
            %th
            %th
        %tbody
          - @tickets.each do |t|
            %tr.warning
              %td= t.name
              %td= t.email
              %td= t.department
              %td= t.subject
              %td= t.key
              %td.text-success(align="center")
                %b= t.status
              %td
                = simple_form_for(t) do |f|
                  = collection_select(:ticket, :status, Status.all, :status_type, :status_type)
                  = f.submit 'Change status', class: "btn btn-link btn-sm"
              %td= link_to "Show", t, class: "btn btn-info btn-sm"
              %td= link_to 'Destroy', t, :method => :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"
.container