.container-fluid
  .row
    .col-md-3
    .col-md-6
      .panel
        %h1(align="center") New ticket
        = simple_form_for(@ticket) do |f|
          .panel-body.form-inputs(align="center")
            = f.input :name, placeholder: "Write you name"
            = f.input :email, placeholder: "Write you email"
            = f.input :subject, placeholder: "Enter subject"
            = f.input :department, placeholder: "Enter department"
            = f.text_area :text, placeholder: "Enter issue"
          .panel-footer.form-actions(align="center")
            = f.button :submit, class: "btn btn-primary"