%h1(align="center") New ticket
= simple_form_for(@ticket) do |f|

  .form-inputs(align="center")
    = f.input :name
    = f.input :email
    = f.input :subject
    = f.input :department
    = f.text_area :text

  .form-actions(align="center")
    = f.button :submit, class: "btn btn-primary"