.navbar
  = render partial: "shared/frontend_notifier"
  .raw
    .col-md-7.logo
      - if signed_in?
        = link_to "Support Issue Tracking", root_path
      - else
        = link_to "Support Issue Tracking", root_path, class: "unsign"
    .col-md-1.nav-links
      = link_to "Tickets", tickets_path if signed_in?
    .col-md-1.nav-links
      = link_to "Statuses", statuses_path if signed_in?
    .col-md-1.nav-links
      = link_to "Departments", departments_path if signed_in?
    .col-md-2
      %ul
        - if signed_in?
          %li
            = link_to "#{current_user.user_name}", users_path
          %li
            = link_to "Sign out", destroy_user_session_path, :method => :delete
        - else
          %li
            = link_to "Sign in", new_user_session_path, class: "unsign-link"